/* ================================================== */
/*                 COMMON CSS                         */
/* ================================================== */

* {
    padding: 0;
    margin: 0;
}

:root {
    --base-color: #000000;
    --common-color: #FF0000;
    --theme-pink-light: #FFE6E6;
    --bs-accordion-btn-active-iconn: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3e%3cpath d='M12.1748 0.5C12.3391 0.5 12.4411 0.548503 12.5215 0.628906C12.6017 0.709215 12.6503 0.810702 12.6504 0.974609C12.6504 1.13881 12.6018 1.2409 12.5215 1.32129L7.26758 6.5752L7.62109 6.92871L12.5215 11.8281C12.6019 11.9085 12.6504 12.0106 12.6504 12.1748C12.6504 12.3391 12.6019 12.4411 12.5215 12.5215C12.4411 12.6019 12.3391 12.6504 12.1748 12.6504C12.0106 12.6504 11.9085 12.6019 11.8281 12.5215L6.92871 7.62109L6.5752 7.26758L1.32129 12.5215C1.2409 12.6018 1.13881 12.6504 0.974609 12.6504C0.810702 12.6503 0.709215 12.6017 0.628906 12.5215C0.548503 12.4411 0.5 12.3391 0.5 12.1748C0.500038 12.0106 0.548535 11.9085 0.628906 11.8281L5.88184 6.5752L5.52832 6.22168L0.628906 1.32129C0.548504 1.24089 0.5 1.13888 0.5 0.974609C0.500076 0.810568 0.548567 0.709245 0.628906 0.628906C0.709245 0.548567 0.810568 0.500076 0.974609 0.5C1.13888 0.5 1.24089 0.548504 1.32129 0.628906L6.22168 5.52832L6.5752 5.88184L11.8281 0.628906C11.9085 0.548535 12.0106 0.500038 12.1748 0.5Z' fill='%23192023' stroke='%23192023'/%3e%3c/svg%3e") !important;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    /* background: var(--base-color); */
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.mb-30 {
    margin-bottom: 30px;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.flipup-hover {
    transition: transform 0.3s ease;
}

.flipup-hover:hover {
    transform: translateY(-10px);
}

a.flipup-hover:hover {
    transform: translateY(-5px);
}

button.flipup-hover:hover {
    transform: translateY(-5px);
}

.section-title-common {
    display: inline-block;
    font-size: clamp(20px, 2vw, 26px);
    font-weight: 600;
    background: linear-gradient(90deg, #003763 24.59%, #FF0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.gradient-common {
    display: inline-block;
    background: linear-gradient(90deg, #003763 24.59%, #FF0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.container {
    max-width: 1273px;
}

.contact-us-btn {
    height: 44px;
    top: 496px;
    left: 664px;
    gap: 10px;
    padding: 10px 16px;
    border-radius: 56px;
    background: var(--common-color);
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 500;
    display: inline-flex;
}


.badge-bg {
    background: #FFEBEB;
}

.section-header span {
    font-weight: 600;
    /* font-size: 44px; */
    text-transform: capitalize;
    background: linear-gradient(90deg, #003763 24.59%, var(--common-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}


.pagination ul {
    list-style: none;
    display: flex;
    gap: 12px;
    padding: 0;
    margin-top: 60px;
}

.pagination li {
    display: inline-block;
}

.pagination a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #7D7D7D;
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.pagination li.active a {
    color: white;
    font-weight: 600;
    background-color: var(--common-color);
}

.pagination a:hover {
    color: white;
    font-weight: 600;
    background-color: var(--common-color);
}

.gap-20 {
    gap: 20px;
}

.title-1 {
    font-size: clamp(24px, 5vw, 44px);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.title-2 {
    font-size: clamp(22px, 4vw, 41px);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.title-3 {
    font-size: clamp(20px, 5vw, 36px);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.title-4 {
    font-size: clamp(18px, 2vw, 26px);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

/* ================================================== */
/*                 HEADER CSS                         */
/* ================================================== */

header {
    background: #FFFFFF99;
    backdrop-filter: blur(22px);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}

.navbar-expand-lg .nav-item-text.navbar-nav .nav-link {
    font-family: Poppins;
    font-weight: 500;
    font-size: 1rem;
    padding: 20px 25px;
    color: #121212;
    border: none;
}

.navbar-expand-lg .nav-item-text.navbar-nav .nav-link:hover,
.navbar-expand-lg .nav-item-text.navbar-nav .nav-link.active {
    border-bottom: 2px solid var(--common-color);
    color: #FFFFFF;
    background: #141414;
}


.dropdown-menu.show {
    border-radius: 0;
    border: 0;
}

.dropdown-toggle:hover,
.dropdown-toggle.active {
    border-bottom: 0 !important;
}

.dropdown-item:hover,
.dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: #ff0000;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #ff0000;
}

.clutch img {
    width: 76px;
}

.clutch-badge {
    width: 250px;
    margin-bottom: 38px;
}

.gap-4px {
    gap: 4px;
}

.gap-13px {
    gap: 13px;
}

.mt-12 {
    margin-top: 12px;
}

.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.pt-120 {
    padding-top: 120px;
}

.pb-80 {
    padding-bottom: 80px;
}

/* ================================================== */
/*                 FOOTER CSS                         */
/* ================================================== */
.footer-section {
    padding: 80px 0;
    background: #00080B;
}

.footer-col h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer-section .footer-col .list-unstyled li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer-section .footer-col p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer-section .copy-right-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer-section .policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: #FFFFFF;
}

.footer-section .contact-link {
    color: #fff;
}

/* Hover effects per platform */
.whatsapp:hover svg,
.pinterest:hover svg,
.facebook:hover svg,
.instagram:hover svg,
.linkedin:hover svg,
.youtube:hover svg,
.x:hover svg {
    transform: scale(1.1);
}

/* Back to top  start*/
.btn-back-to-top {
    position: fixed;
    bottom: 30px;
    right: 0px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #fff;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 9999;
}

.btn-back-to-top:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

/* Back to top end */